* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    /* background-image: url(/images/background.jpg); */
    background-color: black;
    height: 1000px;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 2.5%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
    margin: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 0px;
    /* background-color: #2196F3; */
    padding: 10px;
    max-width: auto;
    max-height: 400px;
  }
  
  .item2, .item3, .item4, .item5, .item6, .item8, .item9, .item10, .item11, .item12 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid white;
    height: 100px;
    cursor: pointer;
  }

  .baseO {
    height: 120px;
    width: 120px;
    text-align: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    font-size: 30px;
    margin-left: 47.5%;
    margin-bottom: 50px;
  }

  .baseO p {
    margin-top: 25px;
  }

  .baseX {
    height: 120px;
    width: 120px;
    text-align: center;
    align-items: center;
    color: white;
    border: 1px solid white;
    font-size: 30px;
    margin-left: 47.5%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .baseX p {
    margin-top: 25px;
  }

  .item1 {
    border-radius: 20rem 0 0 20rem;
    height: 284px;
    width: auto;
    grid-row: 1/4;
    grid-column: 1/2;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: auto; */
    cursor: pointer;
  }

  .item7 {
    border-radius: 0 20rem 20rem 0;
    height: 284px;
    width: auto;
    grid-row: 1/4;
    grid-column: 7/8;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: auto;    */
    cursor: pointer;
  }

.playerX {
    color: greenyellow;
}

.playerO {
    color: greenyellow;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}