.form-body-container {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.background-form {
    height: 100vh;
    width: 100vw;
}

.formbox {
    color: #000;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.formbox h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.formbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.formbox input {
    width: 100%;
    margin-bottom: 20px;
}

.formbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.formbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.formbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.formbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.formbox a:hover {
    color: #ffc107;
}

.formbox button {
    background-color: #f0f0f0;
}

.formbox button:hover {
    background-color: #e4e2e2;
}

.formbox button:active {
    background-color: #f0f0f0;
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }

.loginbox {
    width: 320px;
    height: 420px;
}

.forgetbox {
    width: 320px;
    height: 270px;
}

.forgetbox h1 {
    color: #000;
}

.registerbox {
    width: 400px;
}

.registerbox h1 {
    color: #000;
    margin-bottom: 20px;
}

.registerrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registerrow div {
    width: 45%;
}

.resetbox {
    width: 320px;
    height: 420px;
}

.resetbox h1 {
    color: #000;
}

.page-num {
    width: 30px;
    border: 1px solid #0D6EFD;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  .redirect-message {
    margin-top: 20px;
  }