#content-wrapper {
    width: 60%;
    min-height: 65vh;
    margin: auto;
    position: relative;
    right: 50px;
    margin-top: 50px;
}

#content-left {
    width: 50%;
    /* margin-top: 50px; */
}

#content-right {
    width: 50%;
    background-color: #861014;
    word-break: break-word;
    padding: 20px 30px 0px 30px;
    border-radius: 42px;
    height: 471.24px;
    position: relative;
}

#content-right h1{
    font-size: 30px;
    color: #fac02e;
}

#content-right p{
    text-align: justify;
    color: #ffd05b;
    font-size: 20px;
}

.image-container {
    width: 100%;
    object-fit: fill;
    margin-bottom: 10px;
}

.image-container img {
    margin-right: 19px;
    border-radius: 18.1954px;
}

#content-right .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10px;
}

.content-button {
    height: 43.07px;
    width: 185.86px;
    background-image: url("../html/images/Play\ button.png");
    background-size: 100% 100%;
    background-color: #861014;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none !important;
}

#content-right .content-button-black {
    height: 43.07px;
    width: 185.86px;
    background-image: url("../html/images/Play_button_black-removebg-preview.png");
    background-size: 100% 100%;
    background-color: #861014;
    color: yellow;
    font-size: 15px;
    font-weight: bold;
    border: none !important;
}

button.content-button-black {
    cursor: not-allowed;
    pointer-events: all !important;
}

.content-button:hover {
    background-image: url("../html/images/Play_button_green-removebg-preview.png");
    background-size: 100% 100%;
    background-color: #861014;
}

.content-button:active {
    background-image: url("../html/images/Play_button_green-removebg-preview.png");
    background-size: 100% 100%;
    background-color: #861014;
}