#introduction-wrapper {
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../html/images/background_1.jpg);
    background-size: cover;
    background-position: center;
}

.introduction-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-container p {
    color: #FEC53A;
}

.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section-1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.section-1-container {
    margin-right: 5%;
    margin-bottom: 30px;
    width: 50%;
}

.section-1-img {
    display: flex;
}

.section-1-img a {
    width: 120px;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}

.section-1-img a figcaption {
    text-align: center;
    color: #FEC53A;
    width: 100%;
}

.section-1-img a figcaption:hover {
    color: #fec63aa8;
}


.section-1-img .img {
    width: 120px;
    height: 150px;
    margin: 0 0px 15px 0px;
    border-radius: 10px;
}

.section-1-img .img-0 {
    background: url(../html/images/not-available.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-1 {
    background: url(../html/images/dung-dang-dung-de.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-2 {
    background: url(../html/images/o-an-quan.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-3 {
    background: url(../html/images/lat-bai.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-4 {
    background: url(../html/images/co-toan.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-5 {
    background: url(../html/images/co-caro.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-6 {
    background: url(../html/images/ban-bi.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-7 {
    background: url(../html/images/bit-mat-bat-de.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-8 {
    background: url(../html/images/ca-sau-len-bo.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-9 {
    background: url(../html/images/keo-co.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-10 {
    background: url(../html/images/keo-cua-lua-xe.jfif);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-11 {
    background: url(../html/images/meo-duoi-chuot.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-12 {
    background: url(../html/images/mot-hai-ba.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-13 {
    background: url(../html/images/nhay-day.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-14 {
    background: url(../html/images/nhay-lo-co.jfif);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-15 {
    background: url(../html/images/oan-tu-ti.jpg);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-16 {
    background: url(../html/images/rong-ran-len-may.png);
    background-size: cover;
    background-position: center;
}

.section-1-img .img-17 {
    background: url(../html/images/tron-tim.jpg);
    background-size: cover;
    background-position: center;
}

.img:hover {
    transform: translateY(-10px);
}