#content-wrapper {
    width: 900px;
    min-height: 65vh;
    margin: auto;
    position: relative;
    right: 50px;
    margin-top: 50px;
}

#content-left {
    width: 30%;
    margin-top: 50px;
}

#content-right {
    width: 70%;
    background-color: #240436;
    word-break: break-word;
    padding: 20px 30px 0px 30px;
}

#content-right h1{
    font-size: 30px;
    color: #fac02e;
}

#content-right p{
    text-align: justify;
    color: #ffd05b;
    font-size: 22px;
}

.image-container {
    width: 100%;
    object-fit: fill;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-button {
    height: 50px;
    width: 100px;
    background-color: #5cb85c;
    color: white;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 10%;
}

.content-button-black {
    height: 50px;
    width: 100px;
    background-color: rgb(90,90,90);
    color: yellow;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 10%;  
}

button.content-button-black {
    cursor: not-allowed;
    pointer-events: all !important;
}

.content-button:hover {
    background-color: #5cb85cc5;
}

.content-button:active {
    background-color: #5cb85c9a;
}