.home-body {
    background: #961722;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    /* height: 100vh; */
}

.page-body {
    background: #9A1C20;
    font-family: 'Dosis';
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
}

h1 {
    color: #FEC53A;
    font-size: 60px;
    font-weight: bold;
}

h4 {
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

#head-wrapper {
    width: 100%;
    height: 87px;
    background: #FFE3B9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    opacity: 0.9;
    z-index: 99;
    box-shadow: 0px 0px 40px 0px rgba(91, 91, 91, 0.2);
}

.flex-row-justify-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row-justify-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-col-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 300px;
    height: 100%;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 0px;
    line-height: 1.3rem;
    margin: 0;
}

.logo p {
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}

.game-logo img {
    width: 50px;
    height: 50px;
    background-size: contain;
}

ul.navbar {
    display: flex;
    list-style: none;
    font-size: 20px;
}

ul.navbar li {
    width: 140px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
}

@import url('https://fonts.cdnfonts.com/css/dosis');

ul.navbar li a {
    text-decoration: none;
    color: #9A1C20;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;

}

ul.navbar li a.active {
    color: #FEC53A;
}

ul.navbar li a:hover:not(.active) {
    color: #FEC53A;
}

#btn {
    width: 250px;
    height: 100%;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}

.hello-user {
    width: 250px;
    height: 100%;
    background: red;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    /* padding-right: 20px; */
}

.hello-user p {
    width: 250px;
    margin-left: 10px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    vertical-align: middle;
}

.list-page {
    background-color: white;
}


footer {
    width: 100%;
    height: 332px;
    background-image: url('../html/images/footer-background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

footer span {
    color: #9A1C20;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.vertical-child-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0px 0px;
}

.vertical-child-right {
    width: 50%;
    height: 100%;
}

.vertical-child-left button {
    margin-left: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.alert-message {
    position: sticky;
    top: 0;
}